@import "tailwindcss";

@theme {
  --color-brand-neon: #ccff00;
  --color-brand-dark: #0a0a0a;
  --color-brand-card: #141414;
  --color-brand-border: #222222;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  @apply bg-brand-dark text-white font-sans antialiased;
}
